# Capstone Project

*add description here*

## Checkpoint 1

*add description here*

### Task 1.1 Data Manipulation using Python

*add description here*

#### Import required Libraries

In [1]:
import pandas as pd
import numpy as np

#### Prepare the table

1) Import all csv / excel files
2) Merge files into single dataframe

In [2]:
# 1) Import all csv.excel files
sales = pd.read_csv('Car_sales_transactions.csv')
city = pd.read_excel('City_Master.xlsx')
# postal_code = pd.read_excel('Postal_Code_Master.xlsx')
#TODO
region = pd.read_excel('Region_Master.xlsx')
region_state = pd.read_excel('Region_State_Mapping.xlsx')
sales_status = pd.read_csv('Sales_Status.csv')
state = pd.read_excel('State_Master.xlsx')

#2) Merge all files into single dataframe
df = sales.copy()
df = pd.merge(df,city[['City_Code','City_Name']],on='City_Code')
df = pd.merge(df,region_state,on='State_Code')
df = pd.merge(df,sales_status,on='Sales_ID')
df = pd.merge(df,state,on='State_Code')
df.head(2)

,Sales_ID,Name,Year,Selling_Price,km_Driven,City_Code,State_Code,Postal_Code,Fuel,Seller_Type,Transmission,Owner,Mileage,Engine,Max_Power,Seats,City_Name,Region_Code,Sold,State_Name
0,1,Maruti Swift Dzire VDI,2014,450000,145500,CT01,ST15,400001,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5,Mumbai,R3,Y,Maharashtra
1,18,Hyundai i20 1.4 CRDi Asta,2012,500000,53000,CT01,ST15,400001,Diesel,Individual,Manual,Second Owner,23.0 kmpl,1396 CC,90 bhp,5,Mumbai,R3,Y,Maharashtra